{
  staff = {
    children = {
      Grading = {
        children = {
          "View Schedule Sheets" = {
            accessLevel = 100;
            priority = 50;
            pageName = org.webcat.schedulesheets.GradeScheduleSubmissionsPage;
          };
        };
      };
      Assignments = {
        children = {
          "Edit Schedule Sheet" = {
            accessLevel = 100;
            priority = 120;
            pageName = org.webcat.schedulesheets.EditScheduleSheetAssignmentPage;
            id = ScheduleSheetProperties;
          };
          "New Schedule Sheet" = {
            accessLevel = 100;
            priority = 130;
            children = {
                "Create a Schedule Assignment" = {
                    pageName = org.webcat.schedulesheets.NewScheduleSheetAssignmentPage;
                    accessLevel = 100;
                    priority = 1;
                };
                "Edit Schedule Sheet Properties" = {
                    accessLevel = 100;
                    priority = 2;
                    config = { jumpTo = ScheduleSheetProperties; };
                };
            };
          };
          "Edit E-mail Alert(s)" = {
            accessLevel = 100;
            priority = 140;
            pageName = org.webcat.schedulesheets.EditEmailAlertGroupForAssignmentPage;
            id = EmailAlertProperties;
          };
          "New E-mail Alert(s)" = {
            accessLevel = 100;
            priority = 145;
            children = {
                "Create Email Alert(s)" = {
                    pageName = org.webcat.schedulesheets.NewEmailAlertGroupForAssignmentPage;
                    accessLevel = 100;
                    priority = 1;
                };
                "Edit E-mail Alert(s)" = {
                    accessLevel = 100;
                    priority = 2;
                    config = { jumpTo = EmailAlertProperties; };
                };
            };
          };
        };
      };
    };
  };
  student = {
    children = {
      Submit = {
        accesLevel = 100;
        priority = 200;
        children = {
          "Schedule Sheet" = {
            priority   = 1;
            wantsStart = YES;
            children = {
              "Select Your Schedule" = {
                pageName = org.webcat.schedulesheets.PickSchedulePage;
                priority = 3;
                id     = PickSchedule;
              };
              "Enter Your Data" = {
                pageName = org.webcat.schedulesheets.ScheduleEntryPage;
                priority = 4;
              };
              "View Your Results" = {
                config = { jumpTo = MostRecentSchedule; };
                priority = 5;
              };
            };
          };
        };
      };
    };
  };
}