{
    attributes = (
        {
            allowsNull = N;
            columnName = category;
            name = category;
            prototypeName = tinyInteger;
        },
        {
            allowsNull = N;
            columnName = checkRound;
            name = checkRound;
            prototypeName = integer;
            userInfo = {
                isScalar = true;
                scalarConversionMethodName = intValue;
                scalarDefault = 0;
                type = int;
                valueClassName = Integer;
            };
        },
        {
            allowsNull = N;
            columnName = code;
            name = code;
            prototypeName = integer;
            userInfo = {
                isScalar = true;
                scalarConversionMethodName = intValue;
                scalarDefault = 0;
                type = int;
                valueClassName = Integer;
            };
        },
        {
            allowsNull = Y;
            columnName = componentFeatureId;
            name = componentFeatureId;
            prototypeName = foreignId;
        },
        {
            allowsNull = Y;
            columnName = sheetId;
            name = sheetId;
            prototypeName = foreignId;
        },
        {
            allowsNull = Y;
            columnName = sheetEntryId;
            name = sheetEntryId;
            prototypeName = foreignId;
        },
        {allowsNull = N; name = id; prototypeName = id; },
        {columnName = message; name = message; prototypeName = mediumText; }
    );
    attributesUsedForLocking = (
        category,
        checkRound,
        code,
        componentFeatureId,
        sheetId,
        sheetEntryId,
        message
    );
    className = "org.webcat.schedulesheets.SheetFeedbackItem";
    classProperties = (
        category,
        checkRound,
        code,
        componentFeature,
        sheet,
        sheetEntry,
        message
    );
    externalName = SheetFeedbackItem;
    fetchSpecificationDictionary = {};
    name = SheetFeedbackItem;
    primaryKeyAttributes = (id);
    relationships = (
        {
            destination = ScheduleSheet;
            isToMany = N;
            joinSemantic = EOInnerJoin;
            joins = ({destinationAttribute = id; sourceAttribute = sheetId; });
            name = sheet;
        },
        {
            destination = ComponentFeature;
            isToMany = N;
            joinSemantic = EOInnerJoin;
            joins = ({destinationAttribute = id; sourceAttribute = componentFeatureId; });
            name = componentFeature;
        },
        {
            destination = SheetEntry;
            isToMany = N;
            joinSemantic = EOInnerJoin;
            joins = ({destinationAttribute = id; sourceAttribute = sheetEntryId; });
            name = sheetEntry;
        }
    );
}
