<table class="floatLeft"><tbody>
<wo name="TR">
  <th class="R top">Assignment</th>
  <td><wo:str value="$submission.assignmentOffering.titleString"/>
     try #<wo:str value="$submission.submitNumber"/></td>
</wo>
<wo name="TR">
  <th class="R top">Name</th>
  <td><wo:str value="$submission.user.nameAndUid"/></td>
</wo>
<wo:if condition="~submission.assignmentOffering.assignment.submissionProfile.allowPartners || partnersForEditing.count">
<wo name="TR">
  <th class="R">Partners</th>
  <td>
    <wo:if condition="$allowPartnerEdit">
      <wo name="PartnerSelector"/>
    </wo:if><wo:else>
      <wo:if condition="$partnersForEditing.count">
        <wo:loop list="$originalPartners" item="$aPartner">
          <wo:str value="$aPartner.nameAndUid"/><br/>
        </wo>
      </wo:if><wo:else>None</wo:else>
    </wo:else>
  </td>
</wo>
</wo:if>
<wo name="TR">
  <th class="R top">Submitted</th>
  <td><wo:str value="$submission.submitTime" formatter="$session.timeFormatter"/>,
    <wo:str value="$submission.earlyLateStatus"/></td>
</wo>
<wo name="TR">
  <th class="R top">Total Score</th>
  <td><wo:str value="$submission.sheet.scoreModifiers"/><b><wo:if condition="$submission.sheet.staffFeedbackIsReady"><wo:str
    value="~submission.sheet.finalScoreVisibleTo(user)"
    numberformat="0.0"/></wo:if><wo:else>&lt;Awaiting Staff&gt;</wo:else></b>/<wo:str
    value="$submission.assignmentOffering.assignment.submissionProfile.availablePoints"/></td>
</wo>
</tbody></table>
