<wo:org.webcat.grader.PageWithAssignmentNavigation
  title="Schedule Sheet: Time Worked So Far">

<wo:org.webcat.core.WCPageModule title="Enter Time You Have Spent">
<wo:WOForm>
<p>Enter the <strong>amount of time (in hours) you have spent</strong>
on each task since you last completed a schedule sheet.  Times should be
as whole numbers (e.g., 8) or decimal numbers rounded to the nearest
half-hour (e.g., 6.5).
</p>
<p>Indicate <strong>which tasks you have completed</strong> by checking
the corresponding box.
</p>
<table><thead><tr>
  <th>Component / Feature</th>
  <th>Activity</th>
  <th>Time Spent Since Last Schedule</th>
  <th>Component / Feature Now Finished?</th>
</tr></thead><tbody>

<tr class="o"><td rowspan="3"><wo:WCTextBox value="command line parser"/></td>
  <td>Design</td>
  <td class="c"><wo:WCTextBox style="width: 6em" numberformat="0"/></td>
  <td class="c"><wo:checkbox checked="$first"/></td>
</tr>
<tr class="e">
  <td>Code</td>
  <td class="c"><wo:WCTextBox style="width: 6em" numberformat="0"/></td>
  <td class="c"><wo:checkbox checked="$rest"/></td>
</tr>
<tr class="o">
  <td>Test</td>
  <td class="c"><wo:WCTextBox style="width: 6em" numberformat="0"/></td>
  <td class="c"><wo:checkbox checked="$rest"/></td>
</tr>

<tr class="e" style="border-top:1px solid #115"><td rowspan="3"><wo:WCTextBox value="doubly-linked list"/></td>
  <td>Design</td>
  <td class="c"><wo:WCTextBox style="width: 6em" numberformat="0"/></td>
  <td class="c"><wo:checkbox checked="$rest"/></td>
</tr>
<tr class="o">
  <td>Code</td>
  <td class="c"><wo:WCTextBox style="width: 6em" numberformat="0"/></td>
  <td class="c"><wo:checkbox checked="$rest"/></td>
</tr>
<tr class="e">
  <td>Test</td>
  <td class="c"><wo:WCTextBox style="width: 6em" numberformat="0"/></td>
  <td class="c"><wo:checkbox checked="$rest"/></td>
</tr>

<tr class="o" style="border-top:1px solid #115"><td rowspan="3"><wo:WCTextBox value="MemManager: insert"/></td>
  <td>Design</td>
  <td class="c"><wo:WCTextBox style="width: 6em" numberformat="0"/></td>
  <td class="c"><wo:checkbox checked="$rest"/></td>
</tr>
<tr class="e">
  <td>Code</td>
  <td class="c"><wo:WCTextBox style="width: 6em" numberformat="0"/></td>
  <td class="c"><wo:checkbox checked="$rest"/></td>
</tr>
<tr class="o">
  <td>Test</td>
  <td class="c"><wo:WCTextBox style="width: 6em" numberformat="0"/></td>
  <td class="c"><wo:checkbox checked="$rest"/></td>
</tr>

<tr class="e" style="border-top:1px solid #115"><td rowspan="3"><wo:WCTextBox value="MemManager: remove"/></td>
  <td>Design</td>
  <td class="c"><wo:WCTextBox style="width: 6em" numberformat="0"/></td>
  <td class="c"><wo:checkbox checked="$rest"/></td>
</tr>
<tr class="o">
  <td>Code</td>
  <td class="c"><wo:WCTextBox style="width: 6em" numberformat="0"/></td>
  <td class="c"><wo:checkbox checked="$rest"/></td>
</tr>
<tr class="e">
  <td>Test</td>
  <td class="c"><wo:WCTextBox style="width: 6em" numberformat="0"/></td>
  <td class="c"><wo:checkbox checked="$rest"/></td>
</tr>

</tbody></table>
</wo:WOForm>
</wo:org.webcat.core.WCPageModule>

</wo:org.webcat.grader.PageWithAssignmentNavigation>
